[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.5"
djangorestframework = "*"
pyyaml = "*"
requests = "*"
django-cors-headers = "*"

[scripts]
server = "python manage.py runserver 8000"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"

[dev-packages]

[requires]
python_version = "3.11"
